*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  background-color: #c3395b;
}
.pomodoro{
  width: 600px;
  margin: 0px auto;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #9a2d48;
}
header h2{
  color: white;
}
header button{
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  color: white;
  border: none;
  background-color: #eb708f;
}
header button svg{
  width: 20px;
  height: 20px;
}
header .btns{
  display: flex;
  gap: 20px;
}
.time{
  padding: 20px;
  margin: 40px auto;
  border-radius: 5px;
  background-color: #eb708f;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.time .btns{
  display: flex;
  width: 350px;
  margin: 0px auto;
  justify-content: space-between;
}
.time .btns button{
  cursor: pointer;
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  color: white;
  justify-content: center;
  border: none;
  background-color: #c3395b;
}
.timer{
  text-align: center;
  font-size: 128px;
  color: white;
}
.start{
  width: 100px;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0px auto;
  border: none;
  background-color: white;
  color: #9a2d48;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}